@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #09090b;
  --secondary: #fafafa;
  color-scheme: light dark;
}

* {
  @apply m-0 p-0;
}

html {
  @apply scroll-smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #fafafa;
    --secondary: #09090b;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
